<div class="task">
  <%= form_for [task.task_list, task] do |f| %>
    <%= f.submit "Complete", class: "complete-button" %>
  <% end %>
  <span class="task-description"><%= task.description %></span>
  <span class="task-due">
    (<%= distance_of_time_in_words(Time.now, task.due_date + 1.day) %>)
  </span>
</div>
